[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=conky
Comment=
Exec=conky -c /home/kim/.config/conky/aamine.conkyrc -d
StartupNotify=false
Terminal=false
Hidden=false
Name[en_CA]=conky.desktop
